* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.nav-bar {
    background-color: #000000;
    padding: 15px 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
}

.navbar-logo a {
    text-decoration: none;
    color: #1db954;
    font-size: 34px;
}
.navbar-logo a span{
    color: #ffffff;
}

.navbar-links {
    display: flex;
    gap: 25px;
}

.navbar-links a {
    text-decoration: none;
    color: #ffffff;
    font-size: 14px;
    font-weight: 600;
    transition: color 0.3s ease;
}

.navbar-links a:hover {
    color: #1db954;
}


@media (max-width: 768px) {
    .navbar {
        padding: 12px 15px;
    }
    .navbar-logo h1 {
        font-size: 18px;
    }
    .navbar-links {
        gap: 15px;
    }
}