*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.contact{
    background-color: #f5e6c8;
}
.contact h1{
    text-align: center;
    padding: 40px 20px;
}
.contact-page{
    display: flex;
    padding: 40px 20px;
    gap: 50px;
    justify-content: center;
}
.contact-text{
    font-size: 18px;
    line-height: 3;
    margin-top: 50px;
    font-weight: bold;
}
.social-links{
    padding: 20px 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.social-links h2{
    text-align: center;
}
.social-icons{
    display: flex;
    gap: 20px;
    cursor: pointer;
    font-size: 24px;
    justify-content: center;
}
.social-icons svg{
    color: #3b1f0e;
}
.social-icons svg:hover{
    color: black;
}

@media (max-width: 768px){
    .contact-page{
        width: 100%;
    }
    .contact-text{
        font-size: 10px;
        text-align: center;
    }
    .contact-page{
        flex-direction: column;
        gap: 20px;
        margin-top: -80px;
    }
    .contact-page, .contact-form{
        justify-content: center;
    }
}

@media (max-width: 1024px){
    .contact-text{
        font-size: 14px;
    }
}