* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.hero{
    text-align: center;
    padding: 100px 20px;
    background-color: #3b1f0e;
    color: #f5e6c8;
}
.hero h1{
    font-size: 48px;
    margin-bottom: 20px;
    font-family: "Bungee", sans-serif;
}
.hero p{
    font-size: 18px;
    margin-bottom: 30px;
}
.hero-btn{
    background-color: #c9914a;
    color: #fff;
    padding: 12px;
    border: none;
    border-radius: 15px;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s ease;
}
.hero-btn:hover{
    background-color: #fff;
    color: #000;
}