* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.hero{
    height: 500px;
    text-align: center;
    padding: 200px 20px;
    background-image: url('/hero-bg.jpg');
    background-position: center;
    background-size: cover;
    color: #f5e6c8;
}
.hero h1{
    font-size: 48px;
    margin-bottom: 20px;
    font-family: "Bungee", sans-serif;
    color: #fff;
}
.hero h1 span{
    color: wheat;
}
.hero p{
    color: #fff;
    font-size: 18px;
    margin-bottom: 30px;
    font-family: "Poppins", sans-serif;
}
.hero-btn{
    background-color: #c9914a;
    color: #fff;
    padding: 12px;
    border: none;
    border-radius: 15px;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s ease;
    font-family: "Poppins", sans-serif;
}
.hero-btn:hover{
    background-color: #a8712e;
    color: #000;
}

.hero-abt{
    font-family: 'Poppins',sans-serif;
    padding: 20px;
    text-align: center;
}
.hero-abt h1{
    text-align: center;
    padding: 20px;
    font-size: 48px;
}
.hero-abt p{
    font-size: 15px;
}

@media (max-width: 768px) {
    .hero h1{
        font-size: 40px;
    }
    .hero p{
        font-size: 15px;
    }
}