* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.hero{
    position: relative;
    height: 500px;
    text-align: center;
    padding: 200px 20px;
    background-image: url('/hero-bg.jpg');
    background-position: center;
    background-size: cover;
    color: #f5e6c8;
}
.hero::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
}
.hero h1, .hero p, .hero-btn {
    position: relative;
    z-index: 1;
}
.hero h1{
    font-size: 48px;
    margin-bottom: 20px;
    font-family: "Bungee", sans-serif;
    color: #fff;
}
.hero h1 span{
    color: #c9914a;
    font-family: "Bungee", sans-serif;
}
.hero p{
    color: #fff;
    font-size: 18px;
    margin-bottom: 30px;
    font-family: "Poppins", sans-serif;
}
.hero-btn{
    background-color: #c9914a;
    color: #fff;
    padding: 12px;
    border: none;
    border-radius: 15px;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s ease;
    font-family: "Poppins", sans-serif;
}
.hero-btn:hover{
    background-color: #a8712e;
    color: #000;
}

.hero-abt{
    background-color: #fff;
    font-family: 'Poppins',sans-serif;
    padding: 40px;
    text-align: center;
    display: flex;
    flex-direction: column;
}
.abt-text h1{
    text-align: center;
    padding: 20px;
    font-size: 48px;
}
.abt-text h1 span{
    color: #a8712e;
}
.abt-text h1::after{
    content: '';
    display: block;
    width: 80px;
    height: 7px;
    border-radius: 15px;
    background-color: #c9914a;
    margin: 10px auto;
}
.abt-text p{
    font-size: 18px;
}
.abt-img{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px 40px;
    gap: 40px;
    border: 0.5px;
    width: 100%;
    max-width: 1000px;
    margin: 20px auto;
    border-radius: 20px;
    background-color: #fff;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
}
.abt-img img{
    border-radius: 50%;
}

.abt-ceo h2{
    font-size: 30px;
}
.abt-ceo p{
    color: #c9914a;
    font-weight: 500;
    font-size: 20px;
    font-style: italic;
    margin: 50px auto;
}

.hero-service{
    padding: 40px;
}
.hero-service h2{
    text-align: center;
    padding: 20px;
    font-size: 48px;
}
.hero-service p{
    text-align: center;
    font-size: 18px;
}
.hero-service h2 span{
    color: #a8712e;
}
.service-card{
    padding: 40px;
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    justify-content: center;
    text-align: center;
}
.card-content {
    border: none;
    padding: 15px;
    border-radius: 20px;
    background-color: #fff;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
    width: calc(30% - 20px);
    transition: transform 0.3s ease;
}

.card-content:hover {
    transform: translateY(-5px);
}
.card-content img{
    border-radius: 10px;
    width: 100%;
    object-fit: cover;
}
.card-content p {
    font-size: 20px;
    color: #3b1f0e;
    padding-top: 10px;
}
.hero-contact{
    background-color: #a8712e;
    color: #f5e6c8;
    text-align: center;
    padding: 60px 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.hero-contact h2{
    font-size: 48px;
    margin-bottom: 10px;
    color: #fff;
}
.hero-contact p{
    font-size: 18px;
    margin-bottom: 30px;
}
.contact-form{
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 100%;
    max-width: 700px;
}
.contact-form input, .contact-form textarea{
    padding: 12px;
    border: none;
    border-radius: 15px;
    font-size: 14px;
}
.contact-form textarea{
    height: 150px;
}
.contact-form button{
    background-color: #c9914a;
    padding: 12px;
    border: none;
    cursor: pointer;
    border-radius: 10px;
    color: #fff;
    font-size: 16px;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
}
@media (max-width: 768px) {
    .hero h1{
        font-size: 40px;
    }
    .hero p{
        font-size: 15px;
    }
    .abt-img{
        flex-direction: column;
        width: 40%;
        height: 20%;
    }
    .abt-img img{
        width: 100px;
        height: 100px;
    }
    .abt-ceo h2{
        font-size: 20px;
    }
    .abt-ceo p{
        font-size: 15px;
    }
    .hero-service{
        padding: 20px;
    }
    .service-card{
        padding: 20px;
    }
   .card-content{
        width: calc(50% - 20px);
   }
   .card-content img{
        width: 100%;
        height: 150px;
        object-fit: cover;
   }
   .card-content p{
        font-size: 15px;
   }
}
@media (max-width: 1024px) {
    .abt-img {
        width: 90%;
        height: 90%;
    }
    .abt-img img{
        width: 200px;
        height: 200px;
    }
    .abt-ceo h2{
        font-size: 25px;
    }
    .abt-ceo p{
        font-size: 18px;
    }
    .card-content{
        width: calc(50% - 20px);
    }
}