* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
.footer{
    background-color: #3b1f0e;
    color: #f5e6c8;
    padding: 40px;
}
.footer-top {
    display: flex;
    justify-content: space-between;
    gap: 40px;
}
.footer-logo h2 {
    font-family: "Miniver", cursive;
    font-size: 30px;
    margin-bottom: 15px;
}

.footer-logo span {
    color: #c9914a;
    font-family: "Miniver", cursive;
}
.footer-logo p {
    font-size: 14px;
    margin-bottom: 8px;
    font-family: "Poppins", sans-serif;
}
.footer-links h3 {
    font-family: "Poppins", sans-serif;
    font-size: 18px;
    margin-bottom: 15px;
    color: #c9914a;
}

.footer-links ul {
    list-style: none;
    text-align: center;
}

.footer-links ul li {
    margin-bottom: 10px;
}

.footer-links ul li a {
    color: #f5e6c8;
    text-decoration: none;
    font-family: "Poppins", sans-serif;
    font-size: 14px;
}

.footer-links ul li a:hover {
    color: #c9914a;
}

.footer-social h3{
    font-size: 18px;
    margin-bottom: 20px;
    color: #c9914a;
    text-align: center;
}
.social-icon{
    display: flex;
    gap: 20px;
    cursor: pointer;
    font-size: 24px;
}
.social-icon svg:hover {
    color: #c9914a;
    transition: 0.3s ease;
}
.footer-bottom{
    margin-top: 40px;
    text-align: center;
    font-size: 14px;
    padding-top: 20px;
    margin-left: 50px;
}

@media (max-width: 768px){
    .footer-top{
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding: 20px;
    }
    .social-icon{
        justify-content: center;
    }
    .footer-bottom{
        text-align: center;
        margin-left: 15px;
    }
}
