* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar{
    display: flex;
    background-color: #3b1f0e;
    padding: 20px;
    justify-content: space-between;
    width: 100%;
}
.navbar-logo{
    font-size: 30px;
    color: #f5e6c8;
    font-family: "Miniver", cursive;
}
.navbar-logo:hover{
    color: #c9914a;
}
.navbar-logo span {
    color: #c9914a;
}
.navbar-links{
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
}
.navbar-links a{
    text-decoration: none;
    color: #fff;
}
 
@media (max-width: 768px) {
    .navbar{
        flex-direction: column;
        align-items: flex-start;
        gap: 15px;
    }
    .navbar-links{
        gap: 15px;
        color: #fff;
    }
}